# Internal project files
internal/
**/*.tfstate*
**/azure.auto.tfvars
**/*.terraform*
**/backend.config


# Git files
**/.DS_Store

# IntelliJ IDEA
**/*.bsp
**/*.idea
**/target
**/devConfig*
**/mockData*
**/out*
**/resources*
**/META-INF*